<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
    <system.serviceModel>
      <services>
        <service name = "Host.EmployeeOperations">
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8085/ConsoleHostTest"/>
            </baseAddresses>
          </host>
          <endpoint address="serviceAddress" binding="basicHttpBinding" contract="Contracts.IEmployeeOperations"></endpoint>
        </service>      
      </services>
    </system.serviceModel>
</configuration>