<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="basicHttpBindingEndpoint" value="http://localhost:8085/ConsoleHostTest/basichttpbinding"/>
    <add key="wsHttpBindingEndpoint" value="http://localhost:8085/ConsoleHostTest/wshttpbinding"/>
    <add key="netHttpBindingEndpoint" value="http://localhost:8085/ConsoleHostTest/nethttpbinding"/>
    <add key="netTcpbindingEndpoint" value="net.Tcp://localhost:8086/ConsoleHostTest/nettcpbinding"/>
  </appSettings>
</configuration>